<script async src="https://www.googletagmanager.com/gtag/js?id=GA_ID_PLACEHOLDER"></script><script async src="https://www.googletagmanager.com/gtag/js?id=G-TMDY65DBCV"></script>

<script><script>

    window.dataLayer = window.dataLayer || [];    window.dataLayer = window.dataLayer || [];

    function gtag(){dataLayer.push(arguments);}    function gtag(){dataLayer.push(arguments);}

    gtag('js', new Date());    gtag('js', new Date());



    gtag('config', 'GA_ID_PLACEHOLDER');    gtag('config', 'G-TMDY65DBCV');

</script></script>